bower_components
node_modules
AgileDevelopment_AngularJS.sublime-project
AgileDevelopment_AngularJS.sublime-workspace
AgileAngularJS.sublime-project
AgileAngularJS.sublime-workspace
npm-debug.log
.DS_Store

