<div class="customers view">
    <div class="container">
        <header>
            <h3>List of users</h3>
        </header>
       
        <div>
            <div class="row cardContainer">
                <div class="span3 card" data-ng-repeat="user in users | orderBy:'name'">
                    <button class="btn close cardClose" data-ng-click="deleteCustomer(user.id)">&times;</button>
                    <div class="cardHeader">{{user.name}}</div>
                    <div class="cardBody">{{user.email}}</div>
                    <div class="cardBody">Company: {{user.company.name}}</div>
                    <a href="/userDetail{{user.id}}" class="cardBody btn-link">View Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>